body h1 {
    text-align: center;
    margin-top: 105px;
    margin-bottom: 50px;
    margin-left: 30px;
    letter-spacing: 18px;
    font-size: 110px;
    background-image: url(https://media.giphy.com/media/3oEdv5SY4LBHUBe2o8/giphy.gif);
    background-size: cover;
    color: transparent;
    -webkit-background-clip: text;
    word-spacing: 2px;
    z-index: 3;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* .gallery img{
    width:380px;
    height:400px;
} */

.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(24, 5vw);
    grid-gap: 10px;
    margin-left: 70px;
    margin-right: 70px;
}

.gallery_img {
    border-radius: 15px;
    display: block;
    transition: 1s;
    padding: 1px;
    width: 100%;
    height: 100%;
    /* object-fit: cover;
    object-position: 100%;
     */
}

.gallery_item1{
    grid-column:span 2;
    grid-row:span 4;
    }
.gallery_item2{
     grid-column:span 3;
     grid-row:span 4;
    }
.gallery_item3{
    grid-column:span 3;
    grid-row:span 4;
    }
.gallery_item4{
    grid-column:span 3;
    grid-row:span 4;
    }
.gallery_item5{
    grid-column:span 3;
    grid-row:span 4;
    }
.gallery_item6{
    grid-column:span 2;
    grid-row:span 4;
    }
.gallery_item7{
    grid-column:span 2;
     grid-row:span 4
     }
.gallery_item8{
    grid-column:span 3;
    grid-row:span 4;
    }
.gallery_item9{
    grid-column:span 3;
    grid-row:span 4;
    }
.gallery_item10{
    grid-column:span 4;
    grid-row:span 4;
    }
.gallery_item11{
    grid-column:span 3;
    grid-row:span 4;
    }
.gallery_item12{
    grid-column:span 3;
    grid-row:span 3;
    }
.gallery_item13{
    grid-column:span 3;
    grid-row:span 5;
    }
.gallery_item14{
    grid-column:span 2;
    grid-row:span 4;
    }
.gallery_item15{
    grid-column:span 3;
    grid-row:span 4;
    }
.gallery_item16{
     grid-column:span 2;
     grid-row:span 3;
    }


.gallery img:hover {
    filter: grayscale(100%);
    transform: scale(1.1);
}

body #f1 {
    position: absolute;
    margin-top: -407px;
    z-index: -1;
    transform: rotate(-112deg);
    position: fixed;
}

body #f2 {
    position: absolute;
    margin-top: -404px;
    z-index: -1;
    transform: rotate(-125deg);
    position: fixed;
}