{% extends "layout1.html"%} {% load static %}

<head>

    <title>Gallery</title>
</head>

{% block body %} {% for title in title %}
<h1>{{title.imgtitle}}</h1>
<img style="margin-left: -258px;" id="f1" src={% static 'f6.png'%} width="600" height="400">
<img style="margin-left: 965px;" id="f2" src={% static 'f6.png'%} width="600" height="400"> {% endfor %}


<div class="gallery">
    {% for gallery in image %} {% if forloop.counter == 1 %}
    <div class="gallery_item1">
        <a href="{{gallery.image.url}}" data-lightbox="mygallery"><img class="gallery_img" src="{{gallery.image.url}}"></a>
    </div>

    {% elif forloop.counter == 2 %}
    <figure class="gallery_item2">
        <a href="{{gallery.image.url}}" data-lightbox="mygallery"><img class="gallery_img" src="{{gallery.image.url}}">
        </a>
    </figure>
    {% elif forloop.counter == 3 %}
    <figure class="gallery_item3">
        <a href="{{gallery.image.url}}" data-lightbox="mygallery"><img class="gallery_img" src="{{gallery.image.url}}">
        </a>
    </figure>
    {% elif forloop.counter == 4 %}
    <figure class="gallery_item4">
        <a href="{{gallery.image.url}}" data-lightbox="mygallery"><img class="gallery_img" src="{{gallery.image.url}}">
        </a>
    </figure>
    {% elif forloop.counter == 5 %}
    <figure class="gallery_item5">
        <a href="{{gallery.image.url}}" data-lightbox="mygallery"><img class="gallery_img" src="{{gallery.image.url}}">
        </a>
    </figure>
    {% elif forloop.counter == 6 %}
    <figure class="gallery_item6">
        <a href="{{gallery.image.url}}" data-lightbox="mygallery"><img class="gallery_img" src="{{gallery.image.url}}">
        </a>
    </figure>
    {% elif forloop.counter == 7 %}

    <figure class="gallery_item7">
        <a href="{{gallery.image.url}}" data-lightbox="mygallery"><img class="gallery_img" src="{{gallery.image.url}}">
        </a>
    </figure>
    {% elif forloop.counter == 8 %}
    <figure class="gallery_item8">
        <a href="{{gallery.image.url}}" data-lightbox="mygallery"><img class="gallery_img" src="{{gallery.image.url}}">
        </a>
    </figure>
    {% elif forloop.counter == 9 %}
    <figure class="gallery_item9">
        <a href="{{gallery.image.url}}" data-lightbox="mygallery"><img class="gallery_img" src="{{gallery.image.url}}">
        </a>
    </figure>
    {% elif forloop.counter == 10 %}
    <figure class="gallery_item10">
        <a href="{{gallery.image.url}}" data-lightbox="mygallery"><img class="gallery_img" src="{{gallery.image.url}}">
        </a>
    </figure>
    {% elif forloop.counter == 11 %}
    <figure class="gallery_item11">
        <a href="{{gallery.image.url}}" data-lightbox="mygallery"><img class="gallery_img" src="{{gallery.image.url}}">
        </a>
    </figure>
    {% elif forloop.counter == 12 %}
    <figure class="gallery_item12">
        <a href="{{gallery.image.url}}" data-lightbox="mygallery"><img class="gallery_img" src="{{gallery.image.url}}">
        </a>
    </figure>
    {% elif forloop.counter == 13 %}
    <figure class="gallery_item13">
        <a href="{{gallery.image.url}}" data-lightbox="mygallery"><img class="gallery_img" src="{{gallery.image.url}}">
        </a>
    </figure>
    {% elif forloop.counter == 14 %}
    <figure class="gallery_item14">
        <a href="{{gallery.image.url}}" data-lightbox="mygallery"><img class="gallery_img" src="{{gallery.image.url}}">
        </a>
    </figure>
    {% elif forloop.counter == 15 %}
    <figure class="gallery_item15">
        <a href="{{gallery.image.url}}" data-lightbox="mygallery"><img class="gallery_img" src="{{gallery.image.url}}">
        </a>
    </figure>
    {% elif forloop.counter == 16 %}
    <figure class="gallery_item16">
        <a href="{{gallery.image.url}}" data-lightbox="mygallery"><img class="gallery_img" src="{{gallery.image.url}}">
        </a>
    </figure>
    {% endif %} {% endfor %}

</div>





{% endblock %}