 {% extends "layout.html"%} {% load static %} {% block body %}
<h1 class="pri">PHOTOGRAPHY</h1>
<h1 class="sec">ALBUM</h1>
<H2>IMAGE SHORT BY DREAMER STUDIO</H2>
<img id="flower" src={% static 'f5.png'%} width="400" height="350">
<img id="f1" src={% static 'frame.png'%} width="150" height="200">
<img id="f2" src={% static 'f4.png'%} width="200" height="250">
<img id="f3" src={% static 'f5.png'%} width="400" height="350">
<section style="margin-top: -590px;z-index:-2;position:fixed;">
    </div>
    <div class="leaf">
        <div> <img src={% static 'lf1.png'%} height="75px" width="75px"></img>
        </div>
        <div><img src={% static 'lf2.png'%} height="75px" width="75px"></img>
        </div>
        <div> <img src={% static 'lf3.png'%} height="75px" width="75px"></img>
        </div>
        <div><img src={% static 'lf4.png'%} height="75px" width="75px"></img>
        </div>
        <div> <img src={% static 'lf5.png'%} height="75px" width="75px"></img>
        </div>
        <div> <img src={% static 'lf6.png'%} height="75px" width="75px"></div>
        <div><img src={% static 'lf7.png'%} height="75px" width="75px"></div>

    </div>

    <div class="leaf leaf1">
        <div> <img src={% static 'lf1.png'%} height="75px" width="75px"></img>
        </div>
        <div><img src={% static 'lf2.png'%} height="75px" width="75px"></img>
        </div>
        <div> <img src={% static 'lf3.png'%} height="75px" width="75px"></img>
        </div>
        <div><img src={% static 'lf4.png'%} height="75px" width="75px"></img>
        </div>
        <div> <img src={% static 'lf5.png'%} height="75px" width="75px"></img>
        </div>
        <div> <img src={% static 'lf6.png'%} height="75px" width="75px"></div>
        <div><img src={% static 'lf7.png'%} height="75px" width="75px"></div>

    </div>

    <div class="leaf leaf2">
        <div> <img src={% static 'lf1.png'%} height="75px" width="75px"></img>
        </div>
        <div><img src={% static 'lf2.png'%} height="75px" width="75px"></img>
        </div>
        <div> <img src={% static 'lf3.png'%} height="75px" width="75px"></img>
        </div>
        <div><img src={% static 'lf4.png'%} height="75px" width="75px"></img>
        </div>

        <div> <img src={% static 'lf5.png'%} height="75px" width="75px"></img>
        </div>
        <div> <img src={% static 'lf6.png'%} height="75px" width="75px"></div>
        <div><img src={% static 'lf7.png'%} height="75px" width="75px"></div>

    </div>
</section>




{% for results in Categorie %}
<a href="{% url 'image' %}?category={{results.id}}">
    <div class="image">
        <img class="image__img" src="{{results.image.url}}" height="150" width="160" alt="{{results.image.url}}">
        <div class="image__overlay">
            <div class="image__title">
                {{results.imgtitle}} </div>
            <div class="image__description">{{results.imgdesc}}</div>
        </div>
    </div>
    </div>


</a>
{% endfor %} {% endblock %}